---
import Section from "../components/utilities/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Section class="pt-24">
    <h1 class="text-platinum h-screen text-4xl font-bold">
      Changing Views Starter Template
    </h1>
  </Section>
</Layout>
