---
import Section from "../components/utilities/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Section>
    <h1 class="font-bold text-4xl">Changing Views Starter Template</h1>
  </Section>
</Layout>
